.useless-tab-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 6px;
}

ol.useless-tab-container,
ul.useless-tab-container,
.useless-tab-container ol,
.useless-tab-container ul {
    transition: 0.3s box-shadow ease;
    border-radius: 6px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: #fff;
    margin: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding-left: 0 !important;
}

.useless-tab-container:hover,
.useless-tab-container ol:hover,
.useless-tab-container ul:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
}

.useless-tab {
    display: none;
}

.useless-tab:checked:nth-of-type(1) ~ .useless-tab-content:nth-of-type(1),
.useless-tab:checked:nth-of-type(1) ~ ol .useless-tab-content:nth-of-type(1),
.useless-tab:checked:nth-of-type(1) ~ ul .useless-tab-content:nth-of-type(1) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.useless-tab:checked:nth-of-type(2) ~ .useless-tab-content:nth-of-type(2),
.useless-tab:checked:nth-of-type(2) ~ ol .useless-tab-content:nth-of-type(2),
.useless-tab:checked:nth-of-type(2) ~ ul .useless-tab-content:nth-of-type(2)  {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.useless-tab:checked:nth-of-type(3) ~ .useless-tab-content:nth-of-type(3),
.useless-tab:checked:nth-of-type(3) ~ ol .useless-tab-content:nth-of-type(3),
.useless-tab:checked:nth-of-type(3) ~ ul .useless-tab-content:nth-of-type(3)  {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.useless-tab:checked:nth-of-type(4) ~ .useless-tab-content:nth-of-type(4),
.useless-tab:checked:nth-of-type(4) ~ ol .useless-tab-content:nth-of-type(4),
.useless-tab:checked:nth-of-type(4) ~ ul .useless-tab-content:nth-of-type(4)  {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.useless-tab:checked:nth-of-type(5) ~ .useless-tab-content:nth-of-type(5),
.useless-tab:checked:nth-of-type(5) ~ ol .useless-tab-content:nth-of-type(5),
.useless-tab:checked:nth-of-type(5) ~ ul .useless-tab-content:nth-of-type(5)  {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.useless-tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.useless-tab:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
}

.useless-tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.useless-tab:checked + label {
    background-color: #fff;
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
}

.useless-tab:checked + label:hover {
    box-shadow: 0 -1px 0 #fff inset;
    background-color: #fff;
}

.useless-tab + label {
    box-shadow: 0 -1px 0 #eee inset;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    flex-grow: 3;
    text-align: center;
    background-color: #f2f2f2;
    user-select: none;
    text-align: center;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
}

.useless-tab + label:hover {
    background-color: #f9f9f9;
    box-shadow: 0 1px 0 #f4f4f4 inset;
}

.useless-tab-content {
    padding: 10px 25px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    border-radius: 6px;
}